@keyframes show{
    from {opacity:0};
    to {opacity:1}
}
body{
    margin:2% 2% 2% 5%;
    font-family: 'Yrsa';
    letter-spacing: 0.15vh;
    color:ghostwhite;
    font-size:1.25vw;
    background-color: rgb(15,35,45);
}
.box{
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    height:19vh;
    width:30vw;
    margin-top:-4%;
    margin-left:-5%;
}
#img1{
    position:absolute;
    width:4vh;
    margin-top:3%;
    margin-left:-1.65%;
}
h1{
    margin-top:3%;
    margin-left:2%;
    padding-top:3%;
    z-index: 5;
    
}
#info{
    animation:show 5s;
    margin-top:-1%;
}
.no{
    font-size: 2vw;
    margin-top:5%;
}
.line-1 {
    height: 0.15vh;
    width:25vw;
    background: ghostwhite;
    margin-bottom:-0.5%;
}
.line-2 {
    height: 0.05vh;
    width:6vw;
    background: ghostwhite;
    margin-bottom:-0.5%;
}
.line-3 {
    height: 0.05vh;
    width:7vw;
    background: ghostwhite;
    margin-bottom:-0.5%;
}
.line-4 {
    height: 0.05vh;
    width:3vw;
    background: ghostwhite;
    margin-bottom:-0.5%;
}
.line-5 {
    height: 0.05vh;
    width:9vw;
    background: ghostwhite;
    margin-bottom:-0.5%;
}
.tag{
    font-size:1.2vw;
    margin-bottom:-1.4%;
}
.cont{
    font-family: 'Handjet';
    font-size:1.8vw;
    letter-spacing: 0.4vh;
}

/* chart */
.container-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top:-55%;
    margin-left:35%;
}
.circle-outer{
    width:40vw;
    height:40vw;
    border:0.05vw solid ghostwhite;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: width 1.5s,height 1.5s;
    position: relative;
    /* margin-top:-45%; */
    /* margin-left:40%; */
}
.circle-inner{
    width:9vw;
    height:9vw;
    background-color:  rgba(248,248,255,0.9);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color:rgb(15,35,45);
    line-height: 9vw;
    transition:color 1.5s;
}
.circle-inner:hover{
    color:rgba(248,248,255,0.1);
}
.vertical-line{
    width:0.025vw;
    background-color: rgba(248,248,255,0.4); 
    height: 83.5%; 
    float: left; 
    position: absolute;
}
.hori-line{
    height:0.025vw;
    width:48%;
    position: absolute;
    background-color: rgba(248,248,255,0.4); 
}
path {
    fill: transparent;
    display: none;
}
.circle-ip-fre{
    width:1.5vw;
    height:1.5vw;
    background-color:  ghostwhite;
    border-radius: 50%;
    position: absolute;
    opacity:0;
    margin-top:0%;
    transition: margin-top 2s ease-out,opacity 1.5s,background-color 1.5s 0.5s;
    z-index: 2;
}
.circle-inner:hover + .circle-ip-fre{
    margin-top:-22vh;
    opacity:1;
    background-color: rgb(58,192,132);
}
.num1{
    position: absolute;
    margin-top:0;
    opacity:0;
    transition:opacity 1s 1s, font-size 1.6s ease-in-out .7s, margin-top 1.8s ease-in-out .3s;
    font-size:0.2vw;
}
.circle-inner:hover + .num1{
    margin-top:-40vh;
    opacity:1;
}
#svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -77.7%;
    margin-left:21.75vw;
    margin-bottom:-2%;
}

text {
    fill:ghostwhite;
    position: absolute;
    font-size:0.7vw;
}
a{
    color:ghostwhite;
    transition:color 1s;
    font-size:1.5vw;
}
a:hover{
    color:rgb(58,192,132);
}